@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  /* color: white; */
  background-color: #383737;
}

h1 {
  width: fit-content;
  margin: auto;
}
